[submodule "multiagent-particle-envs"]
	path = multiagent-particle-envs
	url = https://github.com/openai/multiagent-particle-envs
[submodule "marl/mpe_hierarchy"]
	path = marl/mpe_hierarchy
	url = https://github.com/Justin-Yuan/mpe_hierarchy.git
	branch = master
[submodule "marl/multiagent_mujoco"]
	path = marl/multiagent_mujoco
	url = https://github.com/Justin-Yuan/multiagent_mujoco
	branch = master
